/* .Customcard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #8BC34A;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  } */
  .card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}
.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: #8BC34A;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
.card-header-tabs {
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -0.5rem;
    border-bottom: 0;
  }
  
  .card-header-pills {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }

  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
      border-top-right-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-top,
.card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  /* .checkedImg{
      height: 20px;
  } */
  .card-header img{
      width: 100px;
  }
  .successText{
      font-size: 2rem;
      font-weight: 500;
  }
.containerCard{
  width: 60%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 520px) {
    .containerCard{
        width: 90%;
    }
  }