# assets/images/product-image/*
# images/employee-images/*

# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# _config/accessPermission.php

.CREDENTIALS
.NEEDTOUPDATE

development/