/* border-disabled{
    border: 
} */
.border-1p{
    border: 1px;
}


.border-primary{
    border-color: var(--primary);
}

.border-muted{
    border-color: var(--gray);
}


.border-dashed{
    border-style: dashed !important;
}