@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
:root{
    --primary: rgb(46, 46, 212);
    --secondary: ;
}
body {
    color: #000;
    height: 100%;
    background-color: #fff;
    background: #fff;
    font-size: 14px;
}

.custom-container {
    margin: auto;
    width: 20cm;
    min-width: 20cm;
    max-width: 20cm;
    height: 29.7cm;
}
.custom-body {
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header{
    position: relative;
}
.details-bx{
    display: flex;
    justify-content: space-between;
}
.left-header{
    /* display: flex;
    justify-content: flex-start; */
}
.left-header h1{
    color: var(--primary);
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}
.right-header p, .left-header p{
    margin: 0;
}
/* .prescription-logo{
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 3px;
} */
.right-header{
    text-align: end;
}
.right-header h2{
    color: #ca2626;
    font-size: 1.3rem;
    margin-bottom: 0px;
}
.right-header p{
    font-size: 12px;
}
.right-header h6{
    font-size: 14px;
    margin-top: 4px;
    color: var(--primary);
}
.middle-icon{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}
.middle-icon img{
    width: 80px;

}
.card {
    padding: 30px 40px;
    /* background: rgb(216, 225, 243); */
    background: #fff;
    border: none !important;
    /* box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2); */
}

.headerHospitalLogo img {
    width: 90px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 3px;
}

.headerDoctorDetails {
    font-family: auto;
}

.header-doc-img img {
    object-fit: cover;
    width: 100px;
    height: 110px;
}
.w-15{
    width: 15rem;
}
.w-60{
    width: 60rem;
}
.space {
    min-height: 70vh;
}

footer{
    width: 100%;
}
footer img{
    width:28px;
    height:20px;
}
.printButton {
    align-items: center;
    text-align: center;
}

@media print {
    @page {
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    html,
    body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }
    .custom-container {
        width: 100%;
        padding-left: 4px;
        padding-right: 4px;
    }
    .custom-body {
        margin-top: 0;
        padding: 0;
        box-shadow: none;
    }
    
    .space {
        min-height: 82vh;
    }
    .footer {
        /* position: fixed;
        bottom: 0; */
    }
    .printButton {
        visibility: hidden;
    }
}