body {
    background-color: #f0f2f5;
}

.main {
    /* margin-top: 100px; */
    width: 30%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

@media (min-width: 260px) and (max-width: 767.98px) {
    .main {
        width: 78%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .main {
        width: 45%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .main {
        width: 35%;
    }
}

@media (min-width: 1200px) {
    .main {
        width: 30%;
    }
}


/* .form-group {
    position: relative;
}

#toggleBtn {
    position: absolute;
    top: 74%;
    right: 6px;
    transform: translateY(-50%);
    cursor: pointer;
} */
