.bg-distributor {
    background-color: #765be3;
    background-image: linear-gradient(180deg, #878ad7 10%, #655fbb 100%);
    background-size: cover;
}

.upr-inp {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 0.1rem solid #8c54f5;
    height: calc(1.2em + .72rem + 1px);
    border-radius: 0.1rem;
    padding: 0 0.3rem;
    font-size: 0.9
    rem
}

.upr-inp:focus {
    border-bottom: 0.1rem solid red;
}


/* .upr-inp option:hover {
    background: #2653d4;
} */

.month {
    border: none;
    outline: none;
    border-bottom: 0.1rem solid #8c54f5;
    width: 20%;
    margin: 0rem 0.4rem 0rem 0rem;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.month:focus {
    border-bottom: 0.1rem solid red;
}

.year {
    border: none;
    outline: none;
    border-bottom: 0.1rem solid #8c54f5;
    width: 30%;
    margin: 0rem 0.4rem 0rem 0rem;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.year:focus {
    border-bottom: 0.1rem solid red;
}

.date-divider {
    position: relative;
    bottom: -9px;
    margin-right: 3px;
}


/* Remove input arrow from type number field  */


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.item-table {
    color: #000;
    font-size: 0.8rem;
}

.line-input {
    border: none;
    width: 7rem;
    font-size: 0.8rem;
}

.line-inp85 {
    border: none;
    font-size: 0.8rem;
}

.line-inp40 {
    border: none;
    width: 2rem;
    font-size: 0.8rem;
}

.line-inp45 {
    border: none;
    font-size: 0.8rem;
}

.line-inp46 {
    border: none;
    width: 2.4rem;
    font-size: 0.8rem;
}

.line-inp50 {
    border: none;
    font-size: 0.8rem;
}

.line-inp65 {
    border: none;
    font-size: 0.8rem;
    width: 4rem;
}


.table,
.item-table td {
padding: 0.75rem;
vertical-align: top;
border-top: 1px solid #e3e6f0;

}


.table-data {
    background: transparent;
    border: none;
    outline: none;
}

.w-12r {
    width: 12rem;
}

.w-10r {
    width: 10rem;
}

.w-9r {
    width: 9rem;
}

.w-8r {
    width: 8rem;
}

.w-6r {
    width: 6rem;
}

.w-5r {
    width: 5rem;
}

.w-4r {
    width: 4rem;
}

.w-3r {
    width: 3rem;
}

.w-2r {
    width: 2rem;
}

.summary-inp {
    /* width: 6rem; */
    margin-left: 0.3rem;
    max-height: 1.7rem;
    border: none;
    outline: none;
    background: transparent;
    color: #FFFFFF;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.purchase-items-summary {
    background-color: #cb4c4c;
}

.text-light {
    color: #f8f9fc !important;
}

.p-3 {
    padding: 1rem !important;
}

.rounded {
    border-radius: 0.35rem !important;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2e59d9;
    border-color: #2653d4;
}

.btn:hover {
    color: #858796;
    text-decoration: none;
}


/* @media (min-width: 768px) .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
} */


/* ####################################################################################################################################
#                                                                                                                                     #
#                                                   Used in Purchase Page Return                                                      #
#                                                                                                                                     #
####################################################################################################################################  */

.focus-border {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
    border: 0.13rem solid #90abfa;
}

.focus-border:focus {
    /* box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important; */
    border: 0.13rem solid #f00;
}

#product-select {
    max-height: 15rem;
    overflow: auto;
    font-size: 0.9rem;
    z-index: 9;
    background: rgb(255, 255, 255);
    display: none;
    border-radius: 0 0 3px 3px;
    position: absolute;
    margin-top: 0.1rem;
    transition: 1.1s ease;
    width: 96%;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

.p-row:hover {
    background: #fff;
    color: #2653d4;
    font-weight: 600;
    cursor: pointer;
}


/* ####################################################################################################################################
#                                                                                                                                     #
#                                                   Used in Sales Return Item Page                                                    #
#                                                                                                                                     #
####################################################################################################################################  */

#bills-list {
    display: none;
    overflow: auto;
    color: #4e73df;
    background: rgb(255, 255, 255);
    z-index: 9;
    transition: 1.1s ease;
    box-shadow: 0 5px 8px rgb(0 0 6 / 28%);
    overflow: auto;
    padding: 0.5rem 1rem 0.5rem 1rem;
    position: absolute;
}

.invoice-item {
    margin: 0;
    padding: 0 0 0 0.3rem;
    border-bottom: 1px solid #2653d4;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.invoice-item:hover {
    background: #ececfc;
}

.invoice-item p {
    margin: 7px 0px -5px 0px;
}

.invoice-item small {
    margin: 0px;
}

@media (min-width: 768px) {
    #bills-list {
        width: 24rem;
    }
}


/* display: none;
border-radius: 0 0 3px 3px;
margin-top: 0.1rem;
margin-left: -1rem;
width: 20rem;
max-height: 16.5rem; */


/* ############################### FOR STOK RETURN EDIT TABLE ############################### */

