.custom-container {
    padding-left: 15rem;
    padding-right: 15rem;
}

.custom-body {
    margin-top: 30px;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.paid-bg {
    background-image: url(../../images/paid-seal.png);
    background-repeat: no-repeat;
    background-size: 300px 180px;
    background-position-x: center;
    background-position-y: 150px;
}


/* 
@media (min-width: 992px){
    .custom-container {
        max-width: 960px;
    }
}

@media (min-width: 768px){
    .custom-container {
        max-width: 720px;
    }
}

@media (min-width: 576px){
    .custom-container {
        max-width: 540px;
    }
} */

@media print {
    @page {
        margin: 5px 5px 5px;
    }
    html,
    body {
        height: 100%;
        margin: 0 5px 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
    .custom-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .custom-body {
        margin-top: 0;
        padding: 0;
        box-shadow: none;
    }
    .paid-bg {
        height: 140vh;
        background-position-y: 250px;
    }
    .custom-width-name {
        width: 32%;
        margin-left: -30px;
    }
    .custom-width-email {
        width: 42%;
        margin-left: -30px;
    }
    .custom-width-number {
        width: 38%;
        margin-left: -40px;
    }
    .border-thin {
        border-width: thin;
    }
    .border-thick {
        border-width: thick;
    }
    .footer {
        position: fixed;
        top: 430px;
        width: 93.5%;
    }
    .print-sec {
        visibility: hidden;
    }
}