*, *::after, *::before{
    box-sizing: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    box-sizing: border-box;
}
.main_section{
    width: 100%;
    padding: 0 30px;
    height: auto;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    width: 50%;
    height: auto;
    padding-bottom: 50px;
    background: linear-gradient(105.88deg, #2C4C70 0.63%, #5e8fb0 102.46%);
    margin-right: 10px;
}
.title p{
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
    color: white;
}
.doctor_details{
    width: 80%;
    margin: 0 auto;
    height: auto;
    background-color: white;
    border-radius: 8px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.doctor_details_logo{
    position: absolute;
    top: -10px;
    right: -10px;
}
.doctor_details p{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #FF748E;
    padding: 6px 15px;
    border-radius: 8px;
    color: white;
}
.image img{
    width: 100px;
    height: 100px;
}
.description h2{
    color: black;
    font-size: 20px;
}
.description h3{
    font-size: 13px;
}
.description h4{
    margin: 0;
    font-size: 11px;
}
.fees_and_book h4{
    font-size: 13px;
    margin-bottom: 8px;
}
.fees_and_book .btn{
    background-color: #fcb716;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.image{
    padding-left: 10px;
}
.fees_and_book{
    padding-right: 10px;
}

@media only screen and (max-width:896px){
    .main_section{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .row{
        margin-bottom: 30px;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 100%;
    }
    .doctor_details{
        width: 80%;
    }
    .doctor_details_logo{
        top: 0;
        right: 0;
    }
}
@media only screen and (max-width:778px){
    .doctor_details_logo{
        display: none;
    }
    
    .doctor_details P{
        width: 100%;
        text-align: center;
    }
}
@media only screen and(max-width:425px){
    .image{
        margin: 0;
        padding: 2px;
    }
    .fees_and_book .btn{
        margin-left: 10px;
    }
    .fees_and_book h4{
        margin-left: 10px;
        font-size: 11px;
    }
    .description h2,h3,h4{
        margin-left: 10px;
    }
    .doctor_details P{
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
}
@media only screen and (max-width:560px){
    .doctor_details{
        flex-direction: column;
        width: 80%;
    }
    .main_section{
        text-align: center;
    }
}